@import '../../../../variables.scss';

#our-menu {
    height: fit-content;
    width: 100%;
    background-image: url('../../../../assets/img/background.jpg');
    background-size: cover;
    padding: 30px 0 40px 0;
    font-family: $mainfont;
    gap: 20px;

    >div:first-of-type {
        gap: 40px;
    }

    h2 {
        color: $red;
        padding: 20px 0;
        text-align: center;
        font-weight: 700;
    }
}


.meal {
    width: 100%;
    gap: 30px;

    img {
        height: 200px;
    }

    
    .meal-info {
        gap: 10px;
        width: 300px;

        .heading {
           color: black;
           font-size: 2.5rem;
           font-weight: 600;
           margin-bottom: 20px;
           font-family: $secondaryfont;
        }

        div {
            display: flex;
            justify-content: space-between;
        }
   
        span {
            font-size: 2rem;
            font-weight: 600;
            color: gray;
        }
    }
}

.meal:nth-of-type(2) {
    flex-direction: row-reverse;
}