<div class="column">
    <div class="center">
        <h2>HOW TO ORDER</h2>
    </div>

    <div class="row around">
        <div class="column">
            <img src="../../../assets/img/bowl_icon.jpg">
            <span>Pick <br> Your Noodle</span>
        </div>
        <div class="column">
            <img src="../../../assets/img/broth_icon.png">
            <span>Pick <br> Your Broth</span>
        </div>
        <div class="column">
            <img src="../../../assets/img/eggs_icon.jpg">
            <span>Add Your <br> Toppings</span>
        </div>
    </div>
</div>
